body {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff; /* Alice Blue */
  color: #333;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease;
}

header {
  background-color: #6096B4;
  color: #EEEEEE; 
  font-size: 200%;
  text-align: center;
  padding: 5px;
  transition: background-color 0.3s ease;
  z-index: 2;
}

h1 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}

nav {
  background-color: #93BFCF; /* Belize Hole */
  padding: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #ecf0f1; /* Clouds */
  font-size: 1.2em;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffffff; /* White */
}

.profile{
  width: 150px;
  height: 150px;
  border-radius: 3px;
  margin-right: 100px;
  
}

.introduction{
  text-align: left;
  margin-left: 250px;
}

section {
  background-color: #ffffff; 
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  
}

h2 {
  color: #000000; 
  border-bottom: 5px double #000000;
}

.icon img{
  width: 100%;
  height: 100px;
  object-fit: cover;
  border: 1px;
}

.size{
  width: 60%;
  height: 60%;
  object-fit: cover;
}

h3.mechanic::before{
  position: relative;
  font-weight: bold;
  font-family: "Font Awesome 6 Free";
  content: "\f085";
  font-size: 85%;
  color: var(--theme-color-2);
}

h3.circuit::before{
  position: relative;
  font-weight: bold;
  font-family: "Font Awesome 6 Free";
  content: "\e4e2";
  font-size: 85%;
  color: var(--theme-color-2);
}

h3.Program::before{
  position: relative;
  font-weight: bold;
  font-family: "Font Awesome 6 Free";
  content: "\f390";
  font-size: 85%;
  color: var(--theme-color-2);
}

.grid{
  display: grid;
}

.product{
  text-align: center;
}

.history{
  width: 100%;
  height: 90%;
  object-fit: cover;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
  background-color: #3498db00; 
  color: #000000;
  padding: 8px 12px;
  border-radius: 5px;
  list-style-type: disc;
}

/* .introduction li{
  display: list-item;
  margin-right: 10px;
  background-color: #3498db00;
  color: #000000;
  padding: 8px 12px;
  border-radius: 5px;
} */

.timeline {
  width: 96%;
  max-width: 940px;
  margin: 28px auto;
}

.timeline-list {
  padding: 40px 0;
}

.timeline-list-item {
  display: flex;
  line-height: 1.5;
  font-size: 16px;
}

.timeline-list-item .date {
  width: 20%;
  padding: 0 0 0 20px;
  color: #888888;
  font-weight: bold;
}

.timeline-list-item .content {
  position: relative;
  width: 80%;
  padding: 0 20px 60px 30px;
  border-left: 1px solid #aaaaaa;
  z-index: 1;
}

.timeline-list-item .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px; 
  width: 20px;
  height: 20px;
  background-color: #93BFCF;
  border-radius: 10px;
  z-index: 1;
}

footer {
  background-color: #6096B4; /* Belize Hole */
  color: #ecf0f1; /* Clouds */
  text-align: center;
  padding: 10px;
  transition: background-color 0.3s ease;
}
