body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff; /* Alice Blue */
    color: #333;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
    text-align: center;
  }

  header{
    background-color: #6096B4;
    color: #EEEEEE; 
    font-size: 100%;
    text-align: center;
    padding: 10px;
    transition: background-color 0.3s ease;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  ul{
    list-style-type: none;
  }

  #abstract{
    margin-top: 125px;
  }

  img{
    max-width: 80%;
  }

  .finalsteer{
    display: grid;
    padding-left: 4%;
    padding-right: 4%;
    grid-template-columns: auto;
    column-gap: 10px;
  }

  .light{
    grid-row: 1;
    grid-column: 1;
    justify-self: end;
  }

  .steer{
    grid-row: 1;
    grid-column: 3;
    justify-self: start;
  }

  .responsive {
    width: 80%;
    aspect-ratio: 16/9;
    }

  .setsumei{
    grid-row: 1;
    grid-column: 2;
  }


  img {
    border-radius: 10px;
  }

  h2 {
    color: #000000; 
    border-bottom: 5px double #000000;
  }